.invisivel{
    display:none !important;
  }
  .visivel{
    display:flex !important;
  }
  .inicial {
    text-align: center;
    font-size: 100px;
    background-color: lightgrey;
    width: 150px;
    height: 200px;
    border: 15px solid green;
    padding: 10px;
    margin: 20px;
  }
  .acertou {
    text-align: center;
    color: yellow;
    background-color: LawnGreen;
    width: 150px;
    height: 200px;
    border: 15px solid yellow;
    padding: 10px;
    margin: 20px;
  }
  .errou {
    text-align: center;
    color: white;
    background-color: red;
    width: 150px;
    height: 200px;
    border: 15px solid black;
    padding: 10px;
    margin: 20px;
  }
  #overlay-jogar-novamente {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(200, 200, 200, 0.3); /* fundo transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  #overlay-jogar-novamente button {
    font-size: 2rem;
    padding: 1rem 2rem;
    opacity: 0.8;
  }
  body  {
    position: relative;
    min-height: 100vh;
  }